.header_mem {
    border-bottom: solid 2px green;
}

.logo1 {
    width: 70px;
    margin-top: 4px;
}

.header_mem h1{
    margin: 0px 0px;
}

.member_pic {
    width: 20%;
    margin: 10px;
}

.member_box {
    background-image: url(/images/cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
}

.member_pic img {
    width: 200px;
    height: 200px;
    object-fit: cover; 
}

.above {
        display: flex;
        justify-content: flex-start;
        width: 900px;
        height: 200px;
        align-items:center;
        margin: 10px;
        padding: 20px;
}

.under {
        display: flex;
        justify-content: flex-end;
        width: 900px;
        height: 200px;
        align-items:center;        
        margin: 10px;
        padding: 20px;
}