.header_mem {
    border-bottom: solid 2px green;
}

.logo1 {
    width: 70px;
    margin-top: 4px;
}

.header_mem h1{
    margin: 0px 0px;
}

.member_pic {
    width: 20%;
    margin: 10px;
}

.member_box {
    position: relative;
    margin: 100px 26px 100px;
}

.background {
    background-image: url(/images/goldies.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 0.4;
    z-index: -1;
    width: 952px;
    height: 100%;
}

.member_pic img {
    width: 200px;
    height: 200px;
    object-fit: cover; 
}

.above {
    display: flex;
    justify-content: flex-start;
    width: 900px;
    height: 200px;
    align-items:　center;
    margin: 10px;
    padding: 20px;
}

.under {
    display: flex;
    justify-content: flex-end;
    width: 900px;
    height: 200px;
    align-items: center;        
    margin: 10px;
    padding: 20px;
}

.big_box {
    background-color: #f3ebe3;
    position: absolute;
    z-index: -3;
    width: 1000px;
    height: 600px;
    margin: 100px;
}