#mai {
    width: 400px;
    height: 260px;
    object-fit: cover; 
}

.prof_box {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 70px 20px;

}

.name  p {
    font-size: 30px;
    display: inline-block;
    
}

.profile {
    margin: 0 10px;
    table-layout: fixed;
    width: 100%;
        th { 
            color: rgb(49, 156, 67);
            font-weight: normal;
            &::after {
                content: "-----------";
            }
        }
}

.history th{
    font-weight: normal;
}