
// アクセサリーのimport
@import 'accessory';
// メンバーのimport
@import 'member';
// パーソンのimport
@import 'person';
// フォント(top)
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
// フォント(non-top)
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

html {
    font-size: 100%;
}

body {
    font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
    line-height: 1.7;
    color: #000000;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}






