
// アクセサリーのimport
@import 'accessory';

@import 'member';

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

html {
    font-size: 100%;
}

body {
    font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
    line-height: 1.7;
    color: #000000;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}






