@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);@import url(https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c);@charset "UTF-8";

.logo {
  width: 110px;
  margin-top: 14px;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #000;
}

.main-nav a:hover {
  color: #0bd;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 46px;
  margin-right: 30px;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.home-content {
  text-align: center;
  margin-top: 10%;
}

.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 58px;
  font-weight: bold;
}

.page-title {
  font-size: 5rem;
  font-family: "Kaushan Script", cursive;
  text-transform: none;
  font-weight: normal;
}

.button {
  font-size: 1.375rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}

.button:hover {
  background: #0090aa;
}

.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  background-image: url(/images/gold_coast1.jpg);
  min-height: 100vh;
}

#home.page-title {
  text-transform: none;
}

.header_mem {
  border-bottom: solid 2px green;
}

.logo1 {
  width: 70px;
  margin-top: 4px;
}

.header_mem h1 {
  margin: 0px 0px;
}

.member_pic {
  width: 20%;
  margin: 10px;
}

.member_box {
  position: relative;
  margin: 10px 26px 100px;
}

.background {
  background-image: url(/images/goldies.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0.4;
  z-index: -1;
  width: 952px;
  height: 100%;
}

.member_pic img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.above {
  display: flex;
  justify-content: flex-start;
  width: 900px;
  height: 200px;
  align-items: center;
  margin: 10px;
  padding: 20px;
}

.under {
  display: flex;
  justify-content: flex-end;
  width: 900px;
  height: 200px;
  align-items: center;
  margin: 10px;
  padding: 20px;
}

.big_box {
  background-color: #f3ebe3;
  position: absolute;
  z-index: -3;
  width: 1000px;
  height: 600px;
  margin: 100px 100px 100px 200px;
}

.background_white {
  background-color: white;
  position: absolute;
  z-index: -2;
  width: 952px;
  height: 100%;
}

.bb_header {
  display: flex;
  justify-content: space-between;
}

.bb_header p {
  font-size: 22px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  width: 100px;
  height: 28px;
  margin: 10px 0 0 20px;
}

#background_black {
  background-color: #180e0e;
  position: absolute;
  z-index: -3;
}

#mai {
  width: 400px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

#airi {
  width: 400px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

#mihiro {
  width: 400px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

#ayaka {
  width: 400px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

#moe {
  width: 400px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

.prof_box {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 70px 20px;
}

.name p {
  font-size: 30px;
  display: inline-block;
}

.profile {
  margin: 0 10px;
  table-layout: fixed;
  width: 100%;
}

.profile th {
  color: #319c43;
  font-weight: normal;
}

.profile th::after {
  content: "-----------";
}

.history th {
  font-weight: normal;
}

html {
  font-size: 100%;
}

body {
  font-family: "Montserrat", "\6E38\30B4\30B7\30C3\30AF", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", "Hiragino Kaku Gothic ProN", "\30E1\30A4\30EA\30AA", Meiryo, sans-serif;
  line-height: 1.7;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

